    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="footer-logo">
                        <img src="https://via.placeholder.com/150x50?text=Kalinga+360" alt="Kalinga 360 Logo">
                        <p>Experience the majestic beauty and rich culture of Kalinga through our immersive 360° virtual tours.</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <div class="footer-links">
                        <h5>Quick Links</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Destinations</a></li>
                            <li><a href="#">360 Tours</a></li>
                            <li><a href="#">Cultural Events</a></li>
                            <li><a href="#">Travel Guides</a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-lg-4 mb-4">
                    <div class="footer-links">
                        <h5>Contact Us</h5>
                        <ul>
                            <li><i class="fas fa-map-marker-alt me-2"></i> Provincial Tourism Office, Bulanao, Tabuk City, Kalinga</li>
                            <li><i class="fas fa-phone me-2"></i> +63 123 456 7890</li>
                            <li><i class="fas fa-envelope me-2"></i> info@kalinga360.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center copyright">
                    <p>&copy; 2025 Kalinga 360 Virtual Tours. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>